/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/*
  * This is a modified version of the work done by the above people,
  * and this wouldn't be possible without them.
  */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: var(--color);
  background: var(--background-color) no-repeat;
  background-image: url(../images/background.png);
  background-size: cover;
  font-size: 1.1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection,::selection {
  background: var(--selection-background-color);
  color: var(--highlight-text-color);
  text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.avatar{
  border-style: solid;
  border-width: medium;
  border-color: var(--link-color);
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}
table{
  text-align: center;
}

td{
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: var(--color) solid;
  border-top: var(--color) solid;
}
iframe{
  border-radius: 20px;
  border-style: dashed;
  border-color: var(--color);
}
.icon-list {
  list-style-type: none;
}

.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  stroke-width: 0;
  stroke: var(--color);
  fill: var(--color);
}

a:link,a:visited {
  color: var(--link-color);
  font-weight: 400;
  text-decoration: underline dashed;
  padding: 2px;
}

a:hover,a:focus,a:visited:hover,a:visited:focus {
  color: var(--highlight-text-color);
  background-color: var(--link-color);
  font-weight: 400;
}

body {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;

}

.center {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}
/*For borders and background.*/
#my-blurb, #my-name, footer, #error {
  background: var(--bubble-background-color);
  border-style: solid;
  border-color: var(--border-color);
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#theme-switcher{
  border-radius: 10px;
  border-style: dotted;
  background: var(--border-color);
  color: var(--color);
  border-color: var(--link-color);
  margin-left: 75%;
  margin-bottom: 2%;
}

#theme-switcher:hover, #theme-switcher:focus{
  border-style: solid;
  border-radius: 15px;
  border-color: var(--color);
}

#my-blurb {
  font-weight: 300;
  text-align: left;
}


#my-name h1 {
  font-size: 3em;
  font-weight: 700;
  padding-bottom: 0px;
  padding-top: 50px;
  text-align: center;
  font-family: 'silkscreenbold', monospace;
  width: 70%;
  height: auto;
}



footer p {
  font-size: .9em;
  margin-bottom: 5px;
}
#error {
  margin-top: 15%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

@media only screen and (max-width: 45em) {

  /* Style adjustments for viewports that meet the condition */
  .avatar {
    text-align: center;
    float: right;
    width: 25%;
    height: auto;
  }

  #my-name h1 {
    text-align: center;
  }
  footer{
    width: 70%;
  }

  .image-description {
    text-align: left;
    float: right;
    width: 70%;
    height: auto;
  }
    .center {
      margin-left: auto;
      margin-right: auto;

  }
}

@media only screen and (min-width: 45em) {

  /* Style adjustments for viewports that meet the condition */
  .avatar {
    text-align: right;
    float: right;
    width: 25%;
    height: auto;
  }
  .image-description {
    text-align: left;
    float: right;
    width: 70%;
    height: auto;
  }
  footer{
    width: 70%;
  }
}

@media only screen and (min-width: 60em) {

  /* Style adjustments for viewports that meet the condition */
  .center {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
  }
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {

  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " ("attr(href) ")";
  }

  abbr[title]:after {
    content: " ("attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .avatar {
    text-align: right;
    float: right;
    width: 25%;
    height: auto;
  }
}
