:root {
    --color: #ffffff;
    --background-color: #f9f9f9;
    --bubble-background-color: rgba(0, 0, 0, 0.85);
    --border-color: #000;
    --selection-background-color: #72d887;
    --highlight-text-color: #000;
    --link-color: #62f78c;
}
